Source: <https://cogo-sys-data.s3.amazonaws.com/index.html>

I read in a locally stored csv file as df and display its properties and header to get a data overview.

In [55]:
import pandas as pd

#reads csv source as df
source = r"CoGo_Bikerental_colorado_US/202007-cogo-tripdata.csv"
df = pd.read_csv(source)

In [56]:
#giving a first insight into data
df.info()
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8494 entries, 0 to 8493
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             8494 non-null   object
 1   rideable_type       8494 non-null   object
 2   started_at          8494 non-null   object
 3   ended_at            8494 non-null   object
 4   start_station_name  8153 non-null   object
 5   start_station_id    8153 non-null   float64
 6   end_station_name    7922 non-null   object
 7   end_station_id      7922 non-null   float64
 8   start_lat           8494 non-null   float64
 9   start_lng           8494 non-null   float64
 10  end_lat             8457 non-null   float64
 11  end_lng             8457 non-null   float64
 12  member_casual       8494 non-null   object
dtypes: float64(6), object(7)
memory usage: 862.8+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,AC773B0F453B3EC3,docked_bike,2020-07-03 08:28:44,2020-07-03 08:58:13,High St & King Ave,50.0,High St & King Ave,50.0,39.990144,-83.005912,39.990144,-83.005912,casual
1,978EEF592D58099B,electric_bike,2020-07-09 20:45:20,2020-07-09 20:50:09,Wellesley Dr & Lane Ave,75.0,NaN,NaN,40.007217,-83.051720,40.010000,-83.050000,casual
2,875000B920DEC99E,electric_bike,2020-07-21 15:27:22,2020-07-21 15:50:45,Schiller Park - Stewart Ave,6.0,Schiller Park - Stewart Ave,6.0,39.941951,-82.994965,39.942040,-82.995022,casual
3,9DCDA365946975A3,electric_bike,2020-07-12 15:59:35,2020-07-12 16:36:52,Linden Transit Center,105.0,St. Stephen's Community House,103.0,39.993584,-82.981078,40.000875,-82.968266,casual
4,6090A9CD06C2E844,electric_bike,2020-07-11 21:42:02,2020-07-11 22:27:57,Bicentennial Park,1.0,NaN,NaN,39.955951,-83.003244,39.980000,-83.000000,casual

In [57]:
#converts timestamps from str format into datetime format (required for calculation of trip duration)
df['started_at']= pd.to_datetime(df['started_at'])
df['ended_at']= pd.to_datetime(df['ended_at'])

#calculates trip duration and adds value to a new attribute "trip duration" 
df["trip_duration"] = (df["ended_at"] - df["started_at"])

#filters out trips < 10 min that end at the same station AND trips > 10 h
maxduration = pd.Timedelta(hours=10)
minduration = pd.Timedelta(minutes=10)

df =df[~((df['trip_duration'] < minduration) & (df['start_station_id'] == df['end_station_id']))]
df.trip_duration < maxduration

#for checking the modifications of the cleaned data
df.info()
display(df.head())

#storing cleaned data
DataFrame.to_csv

<class 'pandas.core.frame.DataFrame'>
Index: 8127 entries, 0 to 8493
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             8127 non-null   object
 1   rideable_type       8127 non-null   object
 2   started_at          8127 non-null   datetime64[ns]
 3   ended_at            8127 non-null   datetime64[ns]
 4   start_station_name  7786 non-null   object
 5   start_station_id    7786 non-null   float64
 6   end_station_name    7555 non-null   object
 7   end_station_id      7555 non-null   float64
 8   start_lat           8127 non-null   float64
 9   start_lng           8127 non-null   float64
 10  end_lat             8090 non-null   float64
 11  end_lng             8090 non-null   float64
 12  member_casual       8127 non-null   object
 13  trip_duration       8127 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), object(5), timedelta64[ns](1)
memory usage: 952.4+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
0,AC773B0F453B3EC3,docked_bike,2020-07-03 08:28:44,2020-07-03 08:58:13,High St & King Ave,50.0,High St & King Ave,50.0,39.990144,-83.005912,39.990144,-83.005912,casual,0 days 00:29:29
1,978EEF592D58099B,electric_bike,2020-07-09 20:45:20,2020-07-09 20:50:09,Wellesley Dr & Lane Ave,75.0,NaN,NaN,40.007217,-83.051720,40.010000,-83.050000,casual,0 days 00:04:49
2,875000B920DEC99E,electric_bike,2020-07-21 15:27:22,2020-07-21 15:50:45,Schiller Park - Stewart Ave,6.0,Schiller Park - Stewart Ave,6.0,39.941951,-82.994965,39.942040,-82.995022,casual,0 days 00:23:23
3,9DCDA365946975A3,electric_bike,2020-07-12 15:59:35,2020-07-12 16:36:52,Linden Transit Center,105.0,St. Stephen's Community House,103.0,39.993584,-82.981078,40.000875,-82.968266,casual,0 days 00:37:17
4,6090A9CD06C2E844,electric_bike,2020-07-11 21:42:02,2020-07-11 22:27:57,Bicentennial Park,1.0,NaN,NaN,39.955951,-83.003244,39.980000,-83.000000,casual,0 days 00:45:55