Source: <https://cogo-sys-data.s3.amazonaws.com/index.html>

I read in a locally stored csv file as df and display its properties and header to get a data overview.

In [77]:
import pandas as pd
import os, sys

#reads in csv sources as df
path = "CoGo_Bikerental_colorado_US/original_data/"
filelist = os.listdir(path)
print(filelist)

for f in filelist:
    source = path + f
    df = pd.read_csv(source)
    
    #giving a first insight into data
    df.info()
    display(df.head())

    #converts timestamps from str format into datetime format (required for calculation of trip duration)
    df['started_at']= pd.to_datetime(df['started_at'])
    df['ended_at']= pd.to_datetime(df['ended_at'])

    #calculates trip duration and adds value to a new attribute "trip duration" 
    df["trip_duration"] = (df["ended_at"] - df["started_at"])

    #filters out trips < 10 min that end at the same station AND trips > 10 h
    maxduration = pd.Timedelta(hours=10)
    minduration = pd.Timedelta(minutes=10)

    df =df[~((df['trip_duration'] < minduration) & (df['start_station_id'] == df['end_station_id']))]
    df.trip_duration < maxduration

    #for checking the modifications of the cleaned data
    df.info()
    display(df.head())

    #storing cleaned data
    output = "CoGo_Bikerental_colorado_US/cleaned_data/"
    f = "cleaned" + f
    storage = output + f 
    df.to_csv(storage)

['202007-cogo-tripdata.csv', '202012-cogo-tripdata.csv', '202107-cogo-tripdata.csv', '202112-cogo-tripdata.csv', '202207-cogo-tripdata.csv', '202212-cogo-tripdata.csv', '202307-cogo-tripdata.csv', '202312-cogo-tripdata.csv']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8494 entries, 0 to 8493
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             8494 non-null   object
 1   rideable_type       8494 non-null   object
 2   started_at          8494 non-null   object
 3   ended_at            8494 non-null   object
 4   start_station_name  8153 non-null   object
 5   start_station_id    8153 non-null   float64
 6   end_station_name    7922 non-null   object
 7   end_station_id      7922 non-null   float64
 8   start_lat           8494 non-null   float64
 9   start_lng           8494 non-null   float64
 10  end_lat             8457 non-null   float64
 11  end_lng             8457 non-null   float64
 12  member_casual       8494 non-null   object
dtypes: float64(6), object(7)
memory usage: 862.8+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,AC773B0F453B3EC3,docked_bike,2020-07-03 08:28:44,2020-07-03 08:58:13,High St & King Ave,50.0,High St & King Ave,50.0,39.990144,-83.005912,39.990144,-83.005912,casual
1,978EEF592D58099B,electric_bike,2020-07-09 20:45:20,2020-07-09 20:50:09,Wellesley Dr & Lane Ave,75.0,NaN,NaN,40.007217,-83.051720,40.010000,-83.050000,casual
2,875000B920DEC99E,electric_bike,2020-07-21 15:27:22,2020-07-21 15:50:45,Schiller Park - Stewart Ave,6.0,Schiller Park - Stewart Ave,6.0,39.941951,-82.994965,39.942040,-82.995022,casual
3,9DCDA365946975A3,electric_bike,2020-07-12 15:59:35,2020-07-12 16:36:52,Linden Transit Center,105.0,St. Stephen's Community House,103.0,39.993584,-82.981078,40.000875,-82.968266,casual
4,6090A9CD06C2E844,electric_bike,2020-07-11 21:42:02,2020-07-11 22:27:57,Bicentennial Park,1.0,NaN,NaN,39.955951,-83.003244,39.980000,-83.000000,casual

<class 'pandas.core.frame.DataFrame'>
Index: 8127 entries, 0 to 8493
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             8127 non-null   object
 1   rideable_type       8127 non-null   object
 2   started_at          8127 non-null   datetime64[ns]
 3   ended_at            8127 non-null   datetime64[ns]
 4   start_station_name  7786 non-null   object
 5   start_station_id    7786 non-null   float64
 6   end_station_name    7555 non-null   object
 7   end_station_id      7555 non-null   float64
 8   start_lat           8127 non-null   float64
 9   start_lng           8127 non-null   float64
 10  end_lat             8090 non-null   float64
 11  end_lng             8090 non-null   float64
 12  member_casual       8127 non-null   object
 13  trip_duration       8127 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), object(5), timedelta64[ns](1)
memory usage: 952.4+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
0,AC773B0F453B3EC3,docked_bike,2020-07-03 08:28:44,2020-07-03 08:58:13,High St & King Ave,50.0,High St & King Ave,50.0,39.990144,-83.005912,39.990144,-83.005912,casual,0 days 00:29:29
1,978EEF592D58099B,electric_bike,2020-07-09 20:45:20,2020-07-09 20:50:09,Wellesley Dr & Lane Ave,75.0,NaN,NaN,40.007217,-83.051720,40.010000,-83.050000,casual,0 days 00:04:49
2,875000B920DEC99E,electric_bike,2020-07-21 15:27:22,2020-07-21 15:50:45,Schiller Park - Stewart Ave,6.0,Schiller Park - Stewart Ave,6.0,39.941951,-82.994965,39.942040,-82.995022,casual,0 days 00:23:23
3,9DCDA365946975A3,electric_bike,2020-07-12 15:59:35,2020-07-12 16:36:52,Linden Transit Center,105.0,St. Stephen's Community House,103.0,39.993584,-82.981078,40.000875,-82.968266,casual,0 days 00:37:17
4,6090A9CD06C2E844,electric_bike,2020-07-11 21:42:02,2020-07-11 22:27:57,Bicentennial Park,1.0,NaN,NaN,39.955951,-83.003244,39.980000,-83.000000,casual,0 days 00:45:55

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             838 non-null    object
 1   rideable_type       838 non-null    object
 2   started_at          838 non-null    object
 3   ended_at            838 non-null    object
 4   start_station_name  782 non-null    object
 5   start_station_id    782 non-null    float64
 6   end_station_name    718 non-null    object
 7   end_station_id      718 non-null    float64
 8   start_lat           838 non-null    float64
 9   start_lng           838 non-null    float64
 10  end_lat             835 non-null    float64
 11  end_lng             835 non-null    float64
 12  member_casual       838 non-null    object
dtypes: float64(6), object(7)
memory usage: 85.2+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,D4789C794D4BA844,electric_bike,2020-12-11 15:53:22,2020-12-11 16:04:02,Library - Main Branch,28.0,North Bank Park,92.0,39.961635,-82.990820,39.965058,-83.008714,casual
1,3EBE00D79E554A29,docked_bike,2020-12-12 16:21:10,2020-12-12 16:39:27,North Bank Park,92.0,North Bank Park,92.0,39.964999,-83.008772,39.964999,-83.008772,casual
2,EA1FA5B3BD56B47C,docked_bike,2020-12-12 16:21:27,2020-12-12 16:39:21,North Bank Park,92.0,North Bank Park,92.0,39.964999,-83.008772,39.964999,-83.008772,casual
3,98B54EEB2906C9B5,electric_bike,2020-12-13 15:35:59,2020-12-13 16:00:33,North Bank Park,92.0,North Bank Park,92.0,39.964990,-83.008797,39.965010,-83.008678,casual
4,4FA02E4EC5E673ED,electric_bike,2020-12-13 16:02:22,2020-12-13 16:32:19,North Bank Park,92.0,North Bank Park,92.0,39.965021,-83.008685,39.964967,-83.008612,casual

<class 'pandas.core.frame.DataFrame'>
Index: 801 entries, 0 to 837
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             801 non-null    object
 1   rideable_type       801 non-null    object
 2   started_at          801 non-null    datetime64[ns]
 3   ended_at            801 non-null    datetime64[ns]
 4   start_station_name  745 non-null    object
 5   start_station_id    745 non-null    float64
 6   end_station_name    681 non-null    object
 7   end_station_id      681 non-null    float64
 8   start_lat           801 non-null    float64
 9   start_lng           801 non-null    float64
 10  end_lat             798 non-null    float64
 11  end_lng             798 non-null    float64
 12  member_casual       801 non-null    object
 13  trip_duration       801 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), object(5), timedelta64[ns](1)
memory usage: 93.9+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
0,D4789C794D4BA844,electric_bike,2020-12-11 15:53:22,2020-12-11 16:04:02,Library - Main Branch,28.0,North Bank Park,92.0,39.961635,-82.990820,39.965058,-83.008714,casual,0 days 00:10:40
1,3EBE00D79E554A29,docked_bike,2020-12-12 16:21:10,2020-12-12 16:39:27,North Bank Park,92.0,North Bank Park,92.0,39.964999,-83.008772,39.964999,-83.008772,casual,0 days 00:18:17
2,EA1FA5B3BD56B47C,docked_bike,2020-12-12 16:21:27,2020-12-12 16:39:21,North Bank Park,92.0,North Bank Park,92.0,39.964999,-83.008772,39.964999,-83.008772,casual,0 days 00:17:54
3,98B54EEB2906C9B5,electric_bike,2020-12-13 15:35:59,2020-12-13 16:00:33,North Bank Park,92.0,North Bank Park,92.0,39.964990,-83.008797,39.965010,-83.008678,casual,0 days 00:24:34
4,4FA02E4EC5E673ED,electric_bike,2020-12-13 16:02:22,2020-12-13 16:32:19,North Bank Park,92.0,North Bank Park,92.0,39.965021,-83.008685,39.964967,-83.008612,casual,0 days 00:29:57

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5880 entries, 0 to 5879
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             5880 non-null   object
 1   rideable_type       5880 non-null   object
 2   started_at          5880 non-null   object
 3   ended_at            5880 non-null   object
 4   start_station_name  5310 non-null   object
 5   start_station_id    5310 non-null   float64
 6   end_station_name    5039 non-null   object
 7   end_station_id      5039 non-null   float64
 8   start_lat           5880 non-null   float64
 9   start_lng           5880 non-null   float64
 10  end_lat             5865 non-null   float64
 11  end_lng             5865 non-null   float64
 12  member_casual       5880 non-null   object
dtypes: float64(6), object(7)
memory usage: 597.3+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37C46B2159B84F8B,classic_bike,2021-07-14 12:07:08,2021-07-14 12:14:21,Northwest Blvd & Chambers Rd,94.0,Mallway Park at Arlington Ave,77.0,39.993580,-83.042214,39.998816,-83.061731,member
1,8CF8EE1DD8DB5B58,classic_bike,2021-07-14 16:43:34,2021-07-14 16:58:05,Grandview Ave & 3rd Ave,78.0,Kilbourne St & Vine St,21.0,39.985158,-83.044511,39.971250,-83.007537,member
2,970D456FD69DA4CC,classic_bike,2021-07-03 18:47:10,2021-07-03 19:09:49,High St & King Ave,50.0,High St & Crestview Rd,88.0,39.990142,-83.005829,40.022519,-83.013642,casual
3,1BD8C6D38853A946,electric_bike,2021-07-28 09:54:21,2021-07-28 10:05:59,Bank St & Frankfort St,8.0,City Hall,2.0,39.946555,-83.000272,39.963043,-83.004310,casual
4,2E3C4C8E3B054786,classic_bike,2021-07-07 10:45:21,2021-07-07 11:22:19,High St & King Ave,50.0,Library - Linden Branch,102.0,39.990142,-83.005829,40.012850,-82.968221,casual

<class 'pandas.core.frame.DataFrame'>
Index: 5588 entries, 0 to 5879
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             5588 non-null   object
 1   rideable_type       5588 non-null   object
 2   started_at          5588 non-null   datetime64[ns]
 3   ended_at            5588 non-null   datetime64[ns]
 4   start_station_name  5018 non-null   object
 5   start_station_id    5018 non-null   float64
 6   end_station_name    4747 non-null   object
 7   end_station_id      4747 non-null   float64
 8   start_lat           5588 non-null   float64
 9   start_lng           5588 non-null   float64
 10  end_lat             5573 non-null   float64
 11  end_lng             5573 non-null   float64
 12  member_casual       5588 non-null   object
 13  trip_duration       5588 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), object(5), timedelta64[ns](1)
memory usage: 654.8+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
0,37C46B2159B84F8B,classic_bike,2021-07-14 12:07:08,2021-07-14 12:14:21,Northwest Blvd & Chambers Rd,94.0,Mallway Park at Arlington Ave,77.0,39.993580,-83.042214,39.998816,-83.061731,member,0 days 00:07:13
1,8CF8EE1DD8DB5B58,classic_bike,2021-07-14 16:43:34,2021-07-14 16:58:05,Grandview Ave & 3rd Ave,78.0,Kilbourne St & Vine St,21.0,39.985158,-83.044511,39.971250,-83.007537,member,0 days 00:14:31
2,970D456FD69DA4CC,classic_bike,2021-07-03 18:47:10,2021-07-03 19:09:49,High St & King Ave,50.0,High St & Crestview Rd,88.0,39.990142,-83.005829,40.022519,-83.013642,casual,0 days 00:22:39
3,1BD8C6D38853A946,electric_bike,2021-07-28 09:54:21,2021-07-28 10:05:59,Bank St & Frankfort St,8.0,City Hall,2.0,39.946555,-83.000272,39.963043,-83.004310,casual,0 days 00:11:38
4,2E3C4C8E3B054786,classic_bike,2021-07-07 10:45:21,2021-07-07 11:22:19,High St & King Ave,50.0,Library - Linden Branch,102.0,39.990142,-83.005829,40.012850,-82.968221,casual,0 days 00:36:58

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1358 entries, 0 to 1357
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             1358 non-null   object
 1   rideable_type       1358 non-null   object
 2   started_at          1358 non-null   object
 3   ended_at            1358 non-null   object
 4   start_station_name  1205 non-null   object
 5   start_station_id    1205 non-null   float64
 6   end_station_name    1119 non-null   object
 7   end_station_id      1119 non-null   float64
 8   start_lat           1358 non-null   float64
 9   start_lng           1358 non-null   float64
 10  end_lat             1351 non-null   float64
 11  end_lng             1351 non-null   float64
 12  member_casual       1358 non-null   object
dtypes: float64(6), object(7)
memory usage: 138.1+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3DF95E61DB695C2E,classic_bike,2021-12-05 16:07:55,2021-12-05 16:26:06,North Market,20.0,North Market,20.0,39.972198,-83.003570,39.972198,-83.003570,member
1,DE0C04E8E0FD79F9,electric_bike,2021-12-31 13:55:22,2021-12-31 14:04:49,North Market,20.0,Front St & Town St,82.0,39.972203,-83.003615,39.959074,-83.001959,casual
2,7B0C642F26036460,classic_bike,2021-12-31 13:55:00,2021-12-31 14:04:40,North Market,20.0,Front St & Town St,82.0,39.972198,-83.003570,39.959074,-83.001959,casual
3,860BFBDFD9405614,classic_bike,2021-12-16 00:24:28,2021-12-16 00:49:08,North Market,20.0,High St & Lane Ave,83.0,39.972198,-83.003570,40.006397,-83.009192,casual
4,2F6381196AE2568F,classic_bike,2021-12-16 00:24:07,2021-12-16 09:50:14,North Market,20.0,High St & Lane Ave,83.0,39.972198,-83.003570,40.006397,-83.009192,casual

<class 'pandas.core.frame.DataFrame'>
Index: 1317 entries, 0 to 1357
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             1317 non-null   object
 1   rideable_type       1317 non-null   object
 2   started_at          1317 non-null   datetime64[ns]
 3   ended_at            1317 non-null   datetime64[ns]
 4   start_station_name  1164 non-null   object
 5   start_station_id    1164 non-null   float64
 6   end_station_name    1078 non-null   object
 7   end_station_id      1078 non-null   float64
 8   start_lat           1317 non-null   float64
 9   start_lng           1317 non-null   float64
 10  end_lat             1310 non-null   float64
 11  end_lng             1310 non-null   float64
 12  member_casual       1317 non-null   object
 13  trip_duration       1317 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), object(5), timedelta64[ns](1)
memory usage: 154.3+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
0,3DF95E61DB695C2E,classic_bike,2021-12-05 16:07:55,2021-12-05 16:26:06,North Market,20.0,North Market,20.0,39.972198,-83.003570,39.972198,-83.003570,member,0 days 00:18:11
1,DE0C04E8E0FD79F9,electric_bike,2021-12-31 13:55:22,2021-12-31 14:04:49,North Market,20.0,Front St & Town St,82.0,39.972203,-83.003615,39.959074,-83.001959,casual,0 days 00:09:27
2,7B0C642F26036460,classic_bike,2021-12-31 13:55:00,2021-12-31 14:04:40,North Market,20.0,Front St & Town St,82.0,39.972198,-83.003570,39.959074,-83.001959,casual,0 days 00:09:40
3,860BFBDFD9405614,classic_bike,2021-12-16 00:24:28,2021-12-16 00:49:08,North Market,20.0,High St & Lane Ave,83.0,39.972198,-83.003570,40.006397,-83.009192,casual,0 days 00:24:40
4,2F6381196AE2568F,classic_bike,2021-12-16 00:24:07,2021-12-16 09:50:14,North Market,20.0,High St & Lane Ave,83.0,39.972198,-83.003570,40.006397,-83.009192,casual,0 days 09:26:07

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7790 entries, 0 to 7789
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             7790 non-null   object
 1   rideable_type       7790 non-null   object
 2   started_at          7790 non-null   object
 3   ended_at            7790 non-null   object
 4   start_station_name  7110 non-null   object
 5   start_station_id    7110 non-null   float64
 6   end_station_name    6780 non-null   object
 7   end_station_id      6780 non-null   float64
 8   start_lat           7790 non-null   float64
 9   start_lng           7790 non-null   float64
 10  end_lat             7771 non-null   float64
 11  end_lng             7771 non-null   float64
 12  member_casual       7790 non-null   object
dtypes: float64(6), object(7)
memory usage: 791.3+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0089B6EA5BEDE50C,classic_bike,2022-07-14 21:34:51,2022-07-14 21:42:23,Lane Ave at Olentangy Trail,60.0,High St & Lane Ave,83.0,40.006583,-83.020464,40.006397,-83.009192,casual
1,0B3D03841E311516,classic_bike,2022-07-24 00:45:19,2022-07-24 00:57:05,Lane Ave at Olentangy Trail,60.0,High St & Lane Ave,83.0,40.006583,-83.020464,40.006397,-83.009192,casual
2,6E6BB158CFE15397,classic_bike,2022-07-24 00:46:08,2022-07-24 00:57:01,Lane Ave at Olentangy Trail,60.0,High St & Lane Ave,83.0,40.006583,-83.020464,40.006397,-83.009192,casual
3,17ABC7A38A54309E,classic_bike,2022-07-04 21:05:52,2022-07-04 21:13:54,Lane Ave at Olentangy Trail,60.0,High St & Lane Ave,83.0,40.006583,-83.020464,40.006397,-83.009192,casual
4,7D1BBD07AE148CD8,classic_bike,2022-07-05 19:17:20,2022-07-05 19:24:52,Lane Ave at Olentangy Trail,60.0,High St & Lane Ave,83.0,40.006583,-83.020464,40.006397,-83.009192,casual

<class 'pandas.core.frame.DataFrame'>
Index: 7513 entries, 0 to 7789
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             7513 non-null   object
 1   rideable_type       7513 non-null   object
 2   started_at          7513 non-null   datetime64[ns]
 3   ended_at            7513 non-null   datetime64[ns]
 4   start_station_name  6833 non-null   object
 5   start_station_id    6833 non-null   float64
 6   end_station_name    6503 non-null   object
 7   end_station_id      6503 non-null   float64
 8   start_lat           7513 non-null   float64
 9   start_lng           7513 non-null   float64
 10  end_lat             7494 non-null   float64
 11  end_lng             7494 non-null   float64
 12  member_casual       7513 non-null   object
 13  trip_duration       7513 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), object(5), timedelta64[ns](1)
memory usage: 880.4+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
0,0089B6EA5BEDE50C,classic_bike,2022-07-14 21:34:51,2022-07-14 21:42:23,Lane Ave at Olentangy Trail,60.0,High St & Lane Ave,83.0,40.006583,-83.020464,40.006397,-83.009192,casual,0 days 00:07:32
1,0B3D03841E311516,classic_bike,2022-07-24 00:45:19,2022-07-24 00:57:05,Lane Ave at Olentangy Trail,60.0,High St & Lane Ave,83.0,40.006583,-83.020464,40.006397,-83.009192,casual,0 days 00:11:46
2,6E6BB158CFE15397,classic_bike,2022-07-24 00:46:08,2022-07-24 00:57:01,Lane Ave at Olentangy Trail,60.0,High St & Lane Ave,83.0,40.006583,-83.020464,40.006397,-83.009192,casual,0 days 00:10:53
3,17ABC7A38A54309E,classic_bike,2022-07-04 21:05:52,2022-07-04 21:13:54,Lane Ave at Olentangy Trail,60.0,High St & Lane Ave,83.0,40.006583,-83.020464,40.006397,-83.009192,casual,0 days 00:08:02
4,7D1BBD07AE148CD8,classic_bike,2022-07-05 19:17:20,2022-07-05 19:24:52,Lane Ave at Olentangy Trail,60.0,High St & Lane Ave,83.0,40.006583,-83.020464,40.006397,-83.009192,casual,0 days 00:07:32

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471 entries, 0 to 1470
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             1471 non-null   object
 1   rideable_type       1471 non-null   object
 2   started_at          1471 non-null   object
 3   ended_at            1471 non-null   object
 4   start_station_name  1292 non-null   object
 5   start_station_id    1278 non-null   float64
 6   end_station_name    1194 non-null   object
 7   end_station_id      1186 non-null   float64
 8   start_lat           1471 non-null   float64
 9   start_lng           1471 non-null   float64
 10  end_lat             1465 non-null   float64
 11  end_lng             1465 non-null   float64
 12  member_casual       1471 non-null   object
dtypes: float64(6), object(7)
memory usage: 149.5+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E5FB04C4C730BFA4,classic_bike,2022-12-30 16:58:06,2022-12-30 17:01:49,COSI,19.0,Broad St & Mc Dowell St,117.0,39.961160,-83.006485,39.960905,-83.012546,member
1,F1D56C3B0B5AB2B3,classic_bike,2022-12-02 17:35:03,2022-12-02 17:48:35,Neil Ave & Nationwide Blvd,7.0,High St & King Ave,50.0,39.968016,-83.008510,39.990142,-83.005829,member
2,62EE55B76F121568,classic_bike,2022-12-11 14:46:56,2022-12-11 14:54:21,High St & 2nd Ave,24.0,Nationwide Arena - Front St,11.0,39.982784,-83.004787,39.969172,-83.004017,member
3,524A519F7E1EC529,electric_bike,2022-12-15 17:07:18,2022-12-15 17:15:55,NaN,NaN,Moeller Park at Bruck St,113.0,39.950000,-82.980000,39.935897,-82.988832,casual
4,7E4ED66B325B706E,classic_bike,2022-12-02 16:02:35,2022-12-02 16:14:13,3rd St & Gay St,18.0,Convention Center,12.0,39.963983,-82.998648,39.971255,-83.002202,casual

<class 'pandas.core.frame.DataFrame'>
Index: 1412 entries, 0 to 1470
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             1412 non-null   object
 1   rideable_type       1412 non-null   object
 2   started_at          1412 non-null   datetime64[ns]
 3   ended_at            1412 non-null   datetime64[ns]
 4   start_station_name  1233 non-null   object
 5   start_station_id    1219 non-null   float64
 6   end_station_name    1135 non-null   object
 7   end_station_id      1127 non-null   float64
 8   start_lat           1412 non-null   float64
 9   start_lng           1412 non-null   float64
 10  end_lat             1406 non-null   float64
 11  end_lng             1406 non-null   float64
 12  member_casual       1412 non-null   object
 13  trip_duration       1412 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), object(5), timedelta64[ns](1)
memory usage: 165.5+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
0,E5FB04C4C730BFA4,classic_bike,2022-12-30 16:58:06,2022-12-30 17:01:49,COSI,19.0,Broad St & Mc Dowell St,117.0,39.961160,-83.006485,39.960905,-83.012546,member,0 days 00:03:43
1,F1D56C3B0B5AB2B3,classic_bike,2022-12-02 17:35:03,2022-12-02 17:48:35,Neil Ave & Nationwide Blvd,7.0,High St & King Ave,50.0,39.968016,-83.008510,39.990142,-83.005829,member,0 days 00:13:32
2,62EE55B76F121568,classic_bike,2022-12-11 14:46:56,2022-12-11 14:54:21,High St & 2nd Ave,24.0,Nationwide Arena - Front St,11.0,39.982784,-83.004787,39.969172,-83.004017,member,0 days 00:07:25
3,524A519F7E1EC529,electric_bike,2022-12-15 17:07:18,2022-12-15 17:15:55,NaN,NaN,Moeller Park at Bruck St,113.0,39.950000,-82.980000,39.935897,-82.988832,casual,0 days 00:08:37
4,7E4ED66B325B706E,classic_bike,2022-12-02 16:02:35,2022-12-02 16:14:13,3rd St & Gay St,18.0,Convention Center,12.0,39.963983,-82.998648,39.971255,-83.002202,casual,0 days 00:11:38

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9101 entries, 0 to 9100
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             9101 non-null   object
 1   rideable_type       9101 non-null   object
 2   started_at          9101 non-null   object
 3   ended_at            9101 non-null   object
 4   start_station_name  8417 non-null   object
 5   start_station_id    8417 non-null   float64
 6   end_station_name    7996 non-null   object
 7   end_station_id      7996 non-null   float64
 8   start_lat           9101 non-null   float64
 9   start_lng           9101 non-null   float64
 10  end_lat             9083 non-null   float64
 11  end_lng             9083 non-null   float64
 12  member_casual       9101 non-null   object
dtypes: float64(6), object(7)
memory usage: 924.4+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6F96D2605B954C24,electric_bike,2023-07-22 12:15:21,2023-07-22 12:15:49,Library - Main Branch,28.0,Library - Main Branch,28.0,39.961507,-82.990818,39.961557,-82.990844,member
1,165832D8C7903BF1,classic_bike,2023-07-20 20:50:19,2023-07-20 21:01:36,High St & Spring St,17.0,Schiller Park - Stewart Ave,6.0,39.965888,-83.001536,39.941996,-82.995018,member
2,72DF2B4B3A0AEBAC,classic_bike,2023-07-17 16:37:44,2023-07-17 16:52:23,High St & Spring St,17.0,Schiller Park - Stewart Ave,6.0,39.965888,-83.001536,39.941996,-82.995018,member
3,797C35CD063CAD7F,classic_bike,2023-07-29 18:04:30,2023-07-29 18:04:44,Library - Whetstone Branch,110.0,Library - Whetstone Branch,110.0,40.041222,-83.019052,40.041222,-83.019052,member
4,D1D195B1F06FDE45,classic_bike,2023-07-29 17:21:43,2023-07-29 18:02:38,Library - Whetstone Branch,110.0,Library - Whetstone Branch,110.0,40.041222,-83.019052,40.041222,-83.019052,member

<class 'pandas.core.frame.DataFrame'>
Index: 8736 entries, 1 to 9100
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             8736 non-null   object
 1   rideable_type       8736 non-null   object
 2   started_at          8736 non-null   datetime64[ns]
 3   ended_at            8736 non-null   datetime64[ns]
 4   start_station_name  8052 non-null   object
 5   start_station_id    8052 non-null   float64
 6   end_station_name    7631 non-null   object
 7   end_station_id      7631 non-null   float64
 8   start_lat           8736 non-null   float64
 9   start_lng           8736 non-null   float64
 10  end_lat             8718 non-null   float64
 11  end_lng             8718 non-null   float64
 12  member_casual       8736 non-null   object
 13  trip_duration       8736 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), object(5), timedelta64[ns](1)
memory usage: 1023.8+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
1,165832D8C7903BF1,classic_bike,2023-07-20 20:50:19,2023-07-20 21:01:36,High St & Spring St,17.0,Schiller Park - Stewart Ave,6.0,39.965888,-83.001536,39.941996,-82.995018,member,0 days 00:11:17
2,72DF2B4B3A0AEBAC,classic_bike,2023-07-17 16:37:44,2023-07-17 16:52:23,High St & Spring St,17.0,Schiller Park - Stewart Ave,6.0,39.965888,-83.001536,39.941996,-82.995018,member,0 days 00:14:39
4,D1D195B1F06FDE45,classic_bike,2023-07-29 17:21:43,2023-07-29 18:02:38,Library - Whetstone Branch,110.0,Library - Whetstone Branch,110.0,40.041222,-83.019052,40.041222,-83.019052,member,0 days 00:40:55
5,0C0B900222EDF707,classic_bike,2023-07-08 10:27:56,2023-07-08 10:48:05,Library - Whetstone Branch,110.0,Library - Whetstone Branch,110.0,40.041222,-83.019052,40.041222,-83.019052,member,0 days 00:20:09
6,8E83196132EEB702,classic_bike,2023-07-28 08:26:57,2023-07-28 09:47:58,Library - Whetstone Branch,110.0,Library - Whetstone Branch,110.0,40.041222,-83.019052,40.041222,-83.019052,casual,0 days 01:21:01

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2271 entries, 0 to 2270
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             2271 non-null   object
 1   rideable_type       2271 non-null   object
 2   started_at          2271 non-null   object
 3   ended_at            2271 non-null   object
 4   start_station_name  2065 non-null   object
 5   start_station_id    2065 non-null   float64
 6   end_station_name    1931 non-null   object
 7   end_station_id      1931 non-null   float64
 8   start_lat           2271 non-null   float64
 9   start_lng           2271 non-null   float64
 10  end_lat             2271 non-null   float64
 11  end_lng             2271 non-null   float64
 12  member_casual       2271 non-null   object
dtypes: float64(6), object(7)
memory usage: 230.8+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,D2FB6DDDAE499FD8,electric_bike,2023-12-02 14:30:07,2023-12-02 14:38:35,Neil Ave & Buttles Ave,22.0,High St & Broad St,13.0,39.977396,-83.011585,39.962012,-83.001122,member
1,23CCAB27034FE6EE,electric_bike,2023-12-11 09:12:47,2023-12-11 09:20:33,Neil Ave & Buttles Ave,22.0,High St & Broad St,13.0,39.977474,-83.011523,39.962012,-83.001122,member
2,9F2C5EDFDC72CB1B,electric_bike,2023-12-04 09:43:50,2023-12-04 09:52:13,Neil Ave & Buttles Ave,22.0,High St & Broad St,13.0,39.977461,-83.011561,39.962012,-83.001122,member
3,CC6F089880F16CEE,electric_bike,2023-12-08 09:59:10,2023-12-08 10:07:01,Neil Ave & Buttles Ave,22.0,High St & Broad St,13.0,39.977422,-83.011591,39.962012,-83.001122,member
4,A2575038F7D506E5,electric_bike,2023-12-07 08:53:28,2023-12-07 09:01:26,Neil Ave & Buttles Ave,22.0,High St & Broad St,13.0,39.977308,-83.011510,39.962012,-83.001122,member

<class 'pandas.core.frame.DataFrame'>
Index: 2205 entries, 0 to 2270
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             2205 non-null   object
 1   rideable_type       2205 non-null   object
 2   started_at          2205 non-null   datetime64[ns]
 3   ended_at            2205 non-null   datetime64[ns]
 4   start_station_name  1999 non-null   object
 5   start_station_id    1999 non-null   float64
 6   end_station_name    1865 non-null   object
 7   end_station_id      1865 non-null   float64
 8   start_lat           2205 non-null   float64
 9   start_lng           2205 non-null   float64
 10  end_lat             2205 non-null   float64
 11  end_lng             2205 non-null   float64
 12  member_casual       2205 non-null   object
 13  trip_duration       2205 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), object(5), timedelta64[ns](1)
memory usage: 258.4+ KB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
0,D2FB6DDDAE499FD8,electric_bike,2023-12-02 14:30:07,2023-12-02 14:38:35,Neil Ave & Buttles Ave,22.0,High St & Broad St,13.0,39.977396,-83.011585,39.962012,-83.001122,member,0 days 00:08:28
1,23CCAB27034FE6EE,electric_bike,2023-12-11 09:12:47,2023-12-11 09:20:33,Neil Ave & Buttles Ave,22.0,High St & Broad St,13.0,39.977474,-83.011523,39.962012,-83.001122,member,0 days 00:07:46
2,9F2C5EDFDC72CB1B,electric_bike,2023-12-04 09:43:50,2023-12-04 09:52:13,Neil Ave & Buttles Ave,22.0,High St & Broad St,13.0,39.977461,-83.011561,39.962012,-83.001122,member,0 days 00:08:23
3,CC6F089880F16CEE,electric_bike,2023-12-08 09:59:10,2023-12-08 10:07:01,Neil Ave & Buttles Ave,22.0,High St & Broad St,13.0,39.977422,-83.011591,39.962012,-83.001122,member,0 days 00:07:51
4,A2575038F7D506E5,electric_bike,2023-12-07 08:53:28,2023-12-07 09:01:26,Neil Ave & Buttles Ave,22.0,High St & Broad St,13.0,39.977308,-83.011510,39.962012,-83.001122,member,0 days 00:07:58